.header{
  padding: var(--container-padding);
  background-color: white;
  color: var(--default-white);
  min-height: 80px;

  margin-bottom: 2rem;
  box-shadow: 0 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.header, .headerContainer, .menuContainer {
  display: flex;
  width: 100%;
  align-items: center;
}
nav.headerContainer {
  justify-content: end;
}
.logo {
  width: 150px; 
}

.searchBar {
  width: 450px; 
}

.shopCartIcon, .userIcon, .menuIcon, .closeButtonIcon {
  font-size: 2rem;
  color: var(--primary-color);
}

.logo, .searchBar, .cartCounter, .userIcon, .menuIcon {
  margin: 0 1.5rem;
}
.menuIcon{
  margin-left: auto;
}

.mobileMenu{
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.closeButton {
  margin-right: auto;
}

.mobileMenu a {
  font-size: 2rem;
  margin: 1rem 0;
  color: var(--primary-color);
}